<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
	
	<title>APHI CHAMPS Dashboard</title>

	<link rel="stylesheet" media="screen" href="css/styles.css">
	
	<link href="https://fonts.googleapis.com/css2?family=Gelasio:ital,wght@0,400;0,700;1,400;1,700&family=Rubik:wght@400;600&display=swap" rel="stylesheet">
	
</head>

<body>

	<div id="wrapper">

		<div id="pageContent">
		
			<div id="headerContainer">

				<div id="header">
				
					<div id="headerLogos">
				
						<div id="seal" class="centerContents">
				
							<a href="https://health.mecknc.gov/services/hiv-sti/ending-hiv-epidemic"><img id="MeckSeal" src="images/MecklenburgCoSeal_sm.jpg" alt="Mecklenburg County Seal" /></a>
				
						</div>
						
						<div id="CHAMPSLogoBox">
				
							<a href="index.html"><img id="CHAMPSLogo" src="images/CHAMPS_logo.png" alt="This is the CHAMPS Logo" /></a>
						
							<h3 id="CHAMPSTag">Community HIV/AIDS <span id="CHAMPSTagSmaller">Monitoring & Prevention Systems</span></h3>
					
						</div>
						
					</div>
			
					<div id="menu" class="centerContents">
				
						<div id="menuButtons">
					
							<ul>
								<li><a href="/">HOME</a></li>
								<li><a href="/aboutus">ABOUT US</a></li>
								<li class="here"><a href="/data">DATA</a></li>
								<li><a href="/newsevents">PHOTOS</a></li>
								<li><a href="/resource">RESOURCES</a></li>
								<li><a href="/EHE">EHE STRATEGIC PLAN</a></li>
								<li><a href="/ContactUs">CONTACT US</a></li>
							</ul>
				
						</div>
				
					</div>
				
				</div>
			
			</div>
	
			<!-- *&*&*&*&*&*&*&*&*&*&
			
			This needs to be fixed: figure out 
			how to keep the fixed position menu 
			without a kludge 
			
			*&*&*&*&*&*&*&*&*&*&*&*& -->	
	
			<div id="fixedMenuFix"><p id="incidenceChart">&nbsp;</p></div>
		
			<div id="interiorPage">
			
				<div class="textContent">
					
					<div id="dataQuickAccess">
						<ul>
							<li class="whiteText">Data Quick Access:</li>
							<li><a id="monitorButton" href="#incidenceChart">MONITOR</a></li>
							<li><a id="diagnoseButton" href="#statusChart">DIAGNOSE</a></li>
							<li><a id="treatButton" href="#linkedToCareChart">TREAT</a></li>
							<li><a id="preventButton" href="#prepChart">PREVENT</a></li>
							<li><a id="respondButton" href="EHE_strategic_plan.html">RESPOND</a></li>
						</ul>
					</div>
					
				</div>
				
				<p>&nbsp;</p>
				
				<div class="dataVisualizations" id="monitorViz">
				
					<h1>What is the incidence of HIV in Mecklenburg County?</h1>
			
					<div class="dataCol fourthsRt">
			
						<div class="dataBrief">
							<h2 class="interiorSubheads goldText">What's this graph about?</h2>
					
							<p>Natoque penatibus et magnis dis parturient montes nascetur ridiculus mus. Pulvinar sapien et ligula ullamcorper malesuada proin libero nunc. Enim sed faucibus turpis in. Velit euismod in pellentesque massa placerat duis.</p>
					
							<p>Commodo viverra maecenas accumsan lacus vel facilisis volutpat est velit. Sem fringilla ut morbi tincidunt augue interdum velit.</p>
					
							<div class="centerContents">
							
								<h3><a class="readMore" href="*">I want to see more data!</a></h3>
						
							</div>
					
						</div>
								
						<div class="dataChart">
							
							<img src="images/dataNewDiagnose.png" />
							
							<!--<iframe id="dataChartOne" title="NewDiag_LinkageToCare-v6-TotalNewDiag-LTC" src="https://app.powerbi.com/reportEmbed?reportId=8166a1a8-57db-4ab9-bc07-7d28d468a0fb&autoAuth=true&ctid=88d59d7d-aecb-41b2-90c5-55595de02536" frameborder="0" allowFullScreen="true"></iframe>-->
						</div>
				
					</div>
				
					<p id="prevalenceChart">&nbsp;</p>
				
					<h1>What is the prevalence of HIV in Mecklenburg County?</h1>
			
					<div class="dataCol fourthsLt">
			
						<div class="dataChart">
							<iframe id="dataChartTwo" title="PrEPToNeed_v5" src="https://app.powerbi.com/reportEmbed?reportId=bf1ef183-8798-4f9c-9fd0-4c67bbdc576d&autoAuth=true&ctid=88d59d7d-aecb-41b2-90c5-55595de02536&filterPaneEnabled=false" frameborder="0" allowFullScreen="true"></iframe>
						</div>
			
						<div class="dataBrief">
							<h2 class="interiorSubheads goldText">What's this graph about?</h2>
					
							<p>Natoque penatibus et magnis dis parturient montes nascetur ridiculus mus. Pulvinar sapien et ligula ullamcorper malesuada proin libero nunc. Enim sed faucibus turpis in. Velit euismod in pellentesque massa placerat duis.</p>
					
							<p>Commodo viverra maecenas accumsan lacus vel facilisis volutpat est velit. Sem fringilla ut morbi tincidunt augue interdum velit.</p>
					
						</div>
						
						<p id="statusChart">&nbsp;</p>
						
					</div>
				
					<p>&nbsp;</p>
				
				</div>
				
				<p>&nbsp;</p>
				
				<div class="dataVisualizations" id="diagnoseViz">
				
					<h1>What's the status of the HIV Epidemic in Mecklenburg County?</h1>
			
					<div class="dataCol fourthsRt">
			
						<div class="dataBrief">
							<h2 class="interiorSubheads goldText">What's this graph about?</h2>
					
							<p>Natoque penatibus et magnis dis parturient montes nascetur ridiculus mus. Pulvinar sapien et ligula ullamcorper malesuada proin libero nunc. Enim sed faucibus turpis in. Velit euismod in pellentesque massa placerat duis.</p>
					
							<p>Commodo viverra maecenas accumsan lacus vel facilisis volutpat est velit. Sem fringilla ut morbi tincidunt augue interdum velit.</p>
					
							<div class="centerContents">
							
								<h3><a class="readMore" href="*">I want to see more data!</a></h3>
						
							</div>
					
						</div>
								
						<div class="dataChart">
							<iframe id="dataChartOne" title="NewDiag_LinkageToCare-v6-TotalNewDiag-LTC" src="https://app.powerbi.com/reportEmbed?reportId=8166a1a8-57db-4ab9-bc07-7d28d468a0fb&autoAuth=true&ctid=88d59d7d-aecb-41b2-90c5-55595de02536" frameborder="0" allowFullScreen="true"></iframe>
						</div>
				
					</div>
				
					<p id="infectionToDiagnosisChart">&nbsp;</p>
				
					<h1>What is the time from infection to diagnosis in Mecklenburg County?</h1>
			
					<div class="dataCol fourthsLt">
			
						<div class="dataChart">
							
							<iframe id="dataChartTwo" title="PrEPToNeed_v5" src="https://app.powerbi.com/reportEmbed?reportId=bf1ef183-8798-4f9c-9fd0-4c67bbdc576d&autoAuth=true&ctid=88d59d7d-aecb-41b2-90c5-55595de02536&filterPaneEnabled=false" frameborder="0" allowFullScreen="true"></iframe>
						
						</div>
			
						<div class="dataBrief">
							<h2 class="interiorSubheads goldText">What's this graph about?</h2>
					
							<p>Natoque penatibus et magnis dis parturient montes nascetur ridiculus mus. Pulvinar sapien et ligula ullamcorper malesuada proin libero nunc. Enim sed faucibus turpis in. Velit euismod in pellentesque massa placerat duis.</p>
					
							<p>Commodo viverra maecenas accumsan lacus vel facilisis volutpat est velit. Sem fringilla ut morbi tincidunt augue interdum velit.</p>
					
						</div>
								
					</div>
				
					<p id="knowTheirStatusChart">&nbsp;</p>
				
					<h1>Do people know their HIV status in Mecklenburg County?</h1>
			
					<div class="dataCol fourthsRt">
			
						<div class="dataBrief">
							<h2 class="interiorSubheads goldText">What's this graph about?</h2>
					
							<p>Natoque penatibus et magnis dis parturient montes nascetur ridiculus mus. Pulvinar sapien et ligula ullamcorper malesuada proin libero nunc. Enim sed faucibus turpis in. Velit euismod in pellentesque massa placerat duis.</p>
					
							<p>Commodo viverra maecenas accumsan lacus vel facilisis volutpat est velit. Sem fringilla ut morbi tincidunt augue interdum velit.</p>
					
							<div class="centerContents">
							
								<h3><a class="readMore" href="*">I want to see more data!</a></h3>
						
							</div>
					
						</div>
								
						<div class="dataChart">
							<iframe id="dataChartOne" title="NewDiag_LinkageToCare-v6-TotalNewDiag-LTC" src="https://app.powerbi.com/reportEmbed?reportId=8166a1a8-57db-4ab9-bc07-7d28d468a0fb&autoAuth=true&ctid=88d59d7d-aecb-41b2-90c5-55595de02536" frameborder="0" allowFullScreen="true"></iframe>
						</div>
				
					</div>
				
					<h2 class="goldText">Charts above evaluate Pillar 1: DIAGNOSE</h2>
			
					<p>Diagnose all people living with HIV (PLWH) as early as possible.</p>

					<p>Diagnose Objective 1: 20% increase in HIV screening of Mecklenburg County residents.</p>

					<p>Diagnose Objective 2: Testing demographics are reflective of the demographics of PLWH in Mecklenburg County.</p>	
					
					<p id="linkedToCareChart">&nbsp;</p>
					
					<p>&nbsp;</p>				
					
				</div>
				
				<p>&nbsp;</p>
				
				<div class="dataVisualizations" id="treatViz">
				
				<h1>How long before people are linked to care in Mecklenburg County?</h1>
			
					<div class="dataCol fourthsLt">
			
						<div class="dataChart">
						
							<img src="images/dataTimeToCare.png" />
						
							<!--<iframe id="dataChartTwo" title="PrEPToNeed_v5" src="https://app.powerbi.com/reportEmbed?reportId=bf1ef183-8798-4f9c-9fd0-4c67bbdc576d&autoAuth=true&ctid=88d59d7d-aecb-41b2-90c5-55595de02536&filterPaneEnabled=false" frameborder="0" allowFullScreen="true"></iframe>-->
						</div>
			
						<div class="dataBrief">
							<h2 class="interiorSubheads goldText">What's this graph about?</h2>
					
							<p>Natoque penatibus et magnis dis parturient montes nascetur ridiculus mus. Pulvinar sapien et ligula ullamcorper malesuada proin libero nunc. Enim sed faucibus turpis in. Velit euismod in pellentesque massa placerat duis.</p>
					
							<p>Commodo viverra maecenas accumsan lacus vel facilisis volutpat est velit. Sem fringilla ut morbi tincidunt augue interdum velit.</p>
					
						</div>
								
					</div>
				
					<p id="viralSuppressionChart">&nbsp;</p>
				
					<h1>Is the virus being suppressed in Mecklenburg County?</h1>
			
					<div class="dataCol fourthsRt">
			
						<div class="dataBrief">
							<h2 class="interiorSubheads goldText">What's this graph about?</h2>
					
							<p>Natoque penatibus et magnis dis parturient montes nascetur ridiculus mus. Pulvinar sapien et ligula ullamcorper malesuada proin libero nunc. Enim sed faucibus turpis in. Velit euismod in pellentesque massa placerat duis.</p>
					
							<p>Commodo viverra maecenas accumsan lacus vel facilisis volutpat est velit. Sem fringilla ut morbi tincidunt augue interdum velit.</p>
					
							<div class="centerContents">
							
								<h3><a class="readMore" href="*">I want to see more data!</a></h3>
						
							</div>
					
						</div>
								
						<div class="dataChart">
							<iframe id="dataChartOne" title="NewDiag_LinkageToCare-v6-TotalNewDiag-LTC" src="https://app.powerbi.com/reportEmbed?reportId=8166a1a8-57db-4ab9-bc07-7d28d468a0fb&autoAuth=true&ctid=88d59d7d-aecb-41b2-90c5-55595de02536" frameborder="0" allowFullScreen="true"></iframe>
						</div>
				
					</div>
				
					<p id="personsLostToCareChart">&nbsp;</p>
				
					<h1>How many people are being lost while in care in Mecklenburg County?</h1>
			
					<div class="dataCol fourthsLt">
			
						<div class="dataChart">
							<iframe id="dataChartTwo" title="PrEPToNeed_v5" src="https://app.powerbi.com/reportEmbed?reportId=bf1ef183-8798-4f9c-9fd0-4c67bbdc576d&autoAuth=true&ctid=88d59d7d-aecb-41b2-90c5-55595de02536&filterPaneEnabled=false" frameborder="0" allowFullScreen="true"></iframe>
						</div>
			
						<div class="dataBrief">
							<h2 class="interiorSubheads goldText">What's this graph about?</h2>
					
							<p>Natoque penatibus et magnis dis parturient montes nascetur ridiculus mus. Pulvinar sapien et ligula ullamcorper malesuada proin libero nunc. Enim sed faucibus turpis in. Velit euismod in pellentesque massa placerat duis.</p>
					
							<p>Commodo viverra maecenas accumsan lacus vel facilisis volutpat est velit. Sem fringilla ut morbi tincidunt augue interdum velit.</p>
					
						</div>
								
					</div>
				
					<p id="percentPLWHChart">&nbsp;</p>
				
					<h1>What percent of people living with HIV are in care in Mecklenburg County?</h1>
			
					<div class="dataCol fourthsRt">
			
						<div class="dataBrief">
							<h2 class="interiorSubheads goldText">What's this graph about?</h2>
					
							<p>Natoque penatibus et magnis dis parturient montes nascetur ridiculus mus. Pulvinar sapien et ligula ullamcorper malesuada proin libero nunc. Enim sed faucibus turpis in. Velit euismod in pellentesque massa placerat duis.</p>
					
							<p>Commodo viverra maecenas accumsan lacus vel facilisis volutpat est velit. Sem fringilla ut morbi tincidunt augue interdum velit.</p>
					
							<div class="centerContents">
							
								<h3><a class="readMore" href="*">I want to see more data!</a></h3>
						
							</div>
					
						</div>
								
						<div class="dataChart">
							<iframe id="dataChartOne" title="NewDiag_LinkageToCare-v6-TotalNewDiag-LTC" src="https://app.powerbi.com/reportEmbed?reportId=8166a1a8-57db-4ab9-bc07-7d28d468a0fb&autoAuth=true&ctid=88d59d7d-aecb-41b2-90c5-55595de02536" frameborder="0" allowFullScreen="true"></iframe>
						</div>
				
					</div>
					
					<h2 class="goldText">Charts above evaluate Pillar 2: TREAT</h2>
				
					<p>Objective 2.1: Link 90% of newly diagnosed clients to care within 7 days of diagnosis</p>
	
					<p>Objective 2.2: 90% of PLWH and who are in care are virally suppressed</p>
	
					<p>Objective 2.3: Reduce percentage of persons who have fallen out of care by 17%</p>	
					
					<p id="prepChart">&nbsp;</p>
					
					<p>&nbsp;</p>
					
				</div>
			
				<p>&nbsp;</p>
			
				<div class="dataVisualizations" id="preventViz">
			
					<h1>Is PreP being used in Mecklenburg County?</h1>
			
					<div class="dataCol fourthsLt">
			
						<div class="dataChart">
							
							<img src="images/dataPrep.png" />
						
							<!--<iframe id="dataChartTwo" title="PrEPToNeed_v5" src="https://app.powerbi.com/reportEmbed?reportId=bf1ef183-8798-4f9c-9fd0-4c67bbdc576d&autoAuth=true&ctid=88d59d7d-aecb-41b2-90c5-55595de02536&filterPaneEnabled=false" frameborder="0" allowFullScreen="true"></iframe> -->
						</div>
			
						<div class="dataBrief">
							<h2 class="interiorSubheads goldText">What's this graph about?</h2>
					
							<p>Natoque penatibus et magnis dis parturient montes nascetur ridiculus mus. Pulvinar sapien et ligula ullamcorper malesuada proin libero nunc. Enim sed faucibus turpis in. Velit euismod in pellentesque massa placerat duis.</p>
					
							<p>Commodo viverra maecenas accumsan lacus vel facilisis volutpat est velit. Sem fringilla ut morbi tincidunt augue interdum velit.</p>
					
						</div>
								
					</div>	
				
					<h2 class="goldText">Charts above evaluate Pillar 3: PREVENT</h2>
					
					<p>Objective 3.1: Reach 300,000 Mecklenburg County residents/visitors with evidence-informed HIV prevention messaging</p>
	
					<p>Objective 3.2: At least 34% of persons with PrEP indications are on PrEP</p>
	
					<p>Objective 3.3: 90% of persons referred to PrEP are linked to PrEP services within 10 days of referral</p>
	
					<p>Objective 3.4: Efforts are made to re-engage 90% of PrEP clients who have discontinued PrEP medication for reasons other than insurance ineligibility or potential side effects, and who are still at high risk for acquiring HIV</p>
					
					<p>&nbsp;</p>
					
					<p>&nbsp;</p>
					
				</div>
				
				<p>&nbsp;</p>
		
				<div id="whatIsCHAMPS" class="centerContents">
					<h1 class="knockoutHeader goldText">What is CHAMPS?</h1>
				
					<div id="whatIsCHAMPSContent" class="fourthsLt">
				
						<div id="whatIsCHAMPSColOne">
				
							<p>CHAMPS is the Mecklenburg County <strong>C</strong>ommunity <strong>H</strong>IV/<strong>A</strong>IDS <strong>M</strong>onitoring and <strong>P</strong>revention <strong>S</strong>ystem dashboard. Its purpose is to make data accessible and to monitor progress toward the four goals in the Getting to Zero EHE Plan to diagnose, treat, prevent, and respond to HIV locally. In addition, the CHAMPS dashboard monitors trends in new HIV diagnoses and the number of people living with HIV in our community.</p>
						
							<p>&nbsp;</p>
				
						</div>
				
						<div id="whatIsCHAMPSColTwo">
					
							<h3><a href="about_us.html" class="readMore" id="whatIsReadMore">READ MORE</a></h3>
					
						</div>
				
					</div>
				
				</div>		
		
				<div id="footer" class="fourthsRt">
			
					<div id="footerMenu" class="centerContents">
				
						<ul>
							<li><a href="/">HOME</a></li>
							<li><a href="/aboutus">ABOUT US</a></li>
							<li><a href="/data">DATA</a></li>
							<li><a href="/newsevents">PHOTOS</a></li>
							<li><a href="/resource">RESOURCES</a></li>
							<li><a href="/EHE">EHE STRATEGIC PLAN</a></li>
							<li><a href="/ContactUs">CONTACT US</a></li>
						</ul>
			
					</div>
				
					<div id="footerPartners">
					
						<a href="https://health.mecknc.gov/"><img id="MeckSealFooter" src="images/MecklenburgCoSeal_sm.png" alt="Mecklenburg County Seal" /></a>
					
						<a href="https://www.aphinnovation.org/"><img id="APHILogo" src="images/APHI_logo.png" alt="Academy for Population Health Innovation Logo" /></a>
					
						<a href="https://www.charlotte.edu/"><img id="UNCCLogo" src="images/UNCCharlotte_logo.png" alt="The University of North Carolina at Charlotte Logo" /></a>
					
					</div>
				
					<div><p>&nbsp;</p></div>
				
					<div>
				
						<p>&nbsp;</p>
				
						<p class="whiteText">© <script>document.write(new Date().getFullYear())</script> Academy for Population Health Innovation • <a href="https://www.mecknc.gov/admin/Pages/PrivacyNotice.aspx">Privacy</span></a> • <a href="https://www.mecknc.gov/admin/Pages/LegalInfo.aspx">Legal Information</a></p>
				
					</div>
				
				</div>
		
			</div>
		
		</div>

	</div>

</body>

</html>