<!doctype html>
<html lang="en">
<!-- Now we will add if in this page -->
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" type="text/css" href="../css/style.css">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
  integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
 
  
  <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
  
  <style>
      .carousel {
          margin-bottom: 4rem;
      }
  </style>
  <title>Respond</title>
</head>

<body>
  <div style="position: fixed; top: 0;width:100%;height:auto;z-index:3;">
    <nav class="navbar navbar-expand-lg navbar-dark bg-header-color">
        <a class="navbar-brand" href="#">
        <div style="display: grid;
            grid-template-columns: auto auto auto auto;
            grid-gap: 10px;
            background-color: #ffffff;">
    <div style="width: 400px;position: relative;margin: 21px 0px 13px 0;left: 10px;justify-self: start;
           align-self: start;">
    <div style="height: auto;width: 389px;position: relative;background: transparent;  display: block;">
    <div>
        <div style="--contentPaddingLeft: 0px;--contentPaddingRight: 0px;--contentPaddingTop: 0px;--contentPaddingBottom: 0px;--height: 85px;
        --width: 86px;position: relative;margin: 0px 0px -14px 0;left: 0px;justify-self: start;align-self: start;top: auto;pointer-events: auto;
    z-index: var(--z-index,auto);">
    <div style="overflow: hidden;display: block;width: 100%; height: 100%;box-sizing: border-box;margin: 0;padding: 0;border: 0;outline: 0;background: transparent;">
          <div><img src="../images/MeckCo_Logo_2.jpg"class="d-block logo" alt="EHELogo"></div>
         </div>
    </div>
    <div style="--min-height: 71px;
    height: auto;width: 268px;position: relative;
    left: 125px;justify-self: start;
    margin-top: -100px;
    align-self: start;overflow-wrap: break-word;
    text-align: start;">
    <h2 style="font-size:60px; line-height:normal;pointer-events: auto;"><span style="font-size: 60px;
      vertical-align: baseline;
      background: transparent;"><span>
    <span><span style="font-family: 'Lato', sans-serif;font-weight: bold;color:#013a81;letter-spacing:0.1em;">CHAMPS</span></span></span></span></h2></div>
    
    <div id="header-logo" style="height: 30px;height: auto;width: 294px;margin-top:-17px;position: relative;
    left: 127px;justify-self: start;align-self:start;overflow-wrap: break-word;"><span><span><span><span>
            <span class="font1">Community HIV/AIDS Monitoring and Prevention System</span></span></span></span></span></div>   
    </div>
    </div>
    </div>
    <div class="_2Hij5" style=" writing-mode: vertical-lr;margin-left: 0.5px;position: relative;margin-top: 35px;" ><div>
    <h2><span><span style="color:#013a81;"><span style="letter-spacing:0.05em;"><span style="font-family: 'Lato', sans-serif;font-weight: bold;font-size:15px;">Dashboard</span></span></span></span></h2>
    </div> 
    </div>
    <div style="overflow: hidden;display: block;width: auto; height: 100%;box-sizing: border-box;margin-left:-15px;margin-top:14px;background: transparent;">
    <div><img src="../images/MeckCo_Logo_1.jpg"class="d-block logo" alt="EHELogo" style="height:115px;width:122px;"></div>
    </div>
    </div>
    
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" style="margin-left:105px;background-color:rgb(229, 201, 136);border:rgb(255,255,255);margin-top:60px;border-radius: 20px;">
            <ul class="navbar-nav mr-auto" style="position: absolute;
            background-color: rgb(237, 210, 146);
            height:30px;
            border-radius: 15px;
            padding-left: 1rem;
            box-shadow: 0 1px 4px rgb(223, 186, 99);">
                <li class="nav-item active" style="margin-top:-6px;padding: 0rem 0.5rem 0.5rem 0.5rem;">
                    <a class="nav-link header-tab" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item" style="margin-top:-6px;padding: 0rem 0.5rem 0.5rem 0.5rem;">
                    <a class="nav-link header-tab" href="/resource">Resources</a>
                </li>
                <li class="nav-item" style="margin-top:-6px;padding: 0rem 0.5rem 0.5rem 0.5rem;">
                    <a class="nav-link header-tab" href="/EHE">EHE Strategic Plan</a>
                </li>
                <li class="nav-item dropdown" style="margin-top:-6px;padding: 0rem 0.5rem 0.5rem 0.5rem;">
                  <a class="nav-link dropdown-toggle header-tab" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false" onclick="openData();">
                    Data
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item header-tab" href="/data/Diagnosis">Diagnose</a>
                      
                      <a class="dropdown-item header-tab" href="/data/Treat">Treat</a>
                    
                      <a class="dropdown-item header-tab" href=/data/Prevent>Prevent</a>
                      
                      <a class="dropdown-item header-tab" href="/data/Respond"> Respond</a>
                     
                      <a class="dropdown-item header-tab" href="/data/Monitor"> Monitor</a>
                    
                      <a class="dropdown-item header-tab" href="/data/Definitions"> Definitions</a>
                      
                      <a class="dropdown-item header-tab" href="/data/DataUpdates"> Data Updates</a>
                  </div>
              </li>
                <li class="nav-item" style="margin-top:-6px;padding: 0rem 0.5rem 0.5rem 0.5rem;">
                    <a class="nav-link header-tab" href="/newsevents">Photos</a>
                </li>
               
    
                <li class="nav-item dropdown" style="margin-top:-6px;padding: 0rem 0.5rem 0.5rem 0.5rem;">
                  <a class="nav-link dropdown-toggle header-tab aboutuspage" onclick="openAboutUs();" href="/aboutus" id="navbarDropdown"  data-toggle="dropdown"  aria-expanded="false">About Us</a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item header-tab" href="/aboutus">History</a>
                    
                    <a class="dropdown-item header-tab" href="/aboutus">Origins</a>
                    
                    <a class="dropdown-item header-tab" href="/aboutus">Partners</a>
                    
                    <a class="dropdown-item header-tab" href="/aboutus">Community Messages</a>
                   
                    <a class="dropdown-item header-tab" href="/aboutus">HIV Resources</a>
                    
                    <a class="dropdown-item header-tab" href="/about/Glossary">Glossary of Acronyms & Terms</a>
                    
                </div>
              </li>
            </ul>
            
        </div> 
    
        <div class="searchbox">
          <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" style="width:160px;">
              <button class="btn btn-outline-success my-2 my-sm-0 header-tab" type="submit">Search</button>
          </form>
        </div>
          <div class="contact">
            <a class="btn btn-primary contactusButton" href="#" role="button">Contact Us</a>
          </div>
        
    </nav>

<div id="header2">
  <div  style="border-top: 4px solid #5aa3d2;"></div>
<nav class="navbar navbar-expand-lg navbar-light bg-light header-tab2">
                   
  <a class="navbar-brand header-tab" href="#" style="font-size:16px;font-family:'Lato', sans-serif;color:#013a81;margin-left:385px;">Data</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div style="border-left: 2px solid #013a81;height: 30px;"> </div>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item headernav dropdown">
          <a class="nav-link dropdown-toggle header-tab2" href="/data/Diagnosis" id="navbarDropdown" role="button" style="font-size:16px;font-family:'Lato', sans-serif;color:#013a81;margin-top: -18px;margin-left:50px;">Diagnose</a>
          <div class="dropdown-menu data-dropdown" aria-labelledby="navbarDropdown" style="margin-left:50px;margin-top:10px;">
            <a class="dropdown-item" href="/data/HIVTesting">HIV Testing</a>
            <a class="dropdown-item" href="/data/TimefrInfectionToDiagnosis">Time from Infection to Diagnosis</a>
            <a class="dropdown-item" href="/data/KnowledgeOfHIVStatus">Knowledge of HIV Status</a>
          </div>
        </li>
      <li class="nav-item headernav dropdown">
        <a class="nav-link dropdown-toggle header-tab2" href="/data/Treat" id="navbarDropdown" role="button" style="font-size:16px;font-family:'Lato', sans-serif;color:#013a81;margin-top: -18px;margin-left:50px;">Treat</a>
        <div class="dropdown-menu data-dropdown" aria-labelledby="navbarDropdown" style="margin-left:60px;margin-top:10px;">
          <a class="dropdown-item" href="/data/TimeLinkageToCare">Time Linkage to Care</a>
          <a class="dropdown-item" href="/data/ViralSuppression">Viral Suppression</a>
          <a class="dropdown-item" href="/data/PersonsLostFromCare">Persons Lost from Care</a>
          <a class="dropdown-item" href="/data/PercentOfPLWHInCare">Percent of PLWH in Care</a>
        </div>
      </li>
      <li class="nav-item dropdown headernav">
        <a class="nav-link dropdown-toggle header-tab2" href="/data/Prevent" id="navbarDropdown" role="button" style="font-size:16px;font-family:'Lato', sans-serif;color:#013a81;margin-top: -18px;margin-left:50px;">
          Prevent
        </a>
        <div class="dropdown-menu data-dropdown" aria-labelledby="navbarDropdown" style="margin-left:60px;margin-top:10px;">
          <a class="dropdown-item" href="/data/prevent">Pre-exposure Prophylaxis (PrEP)</a>
        </div>
      </li>
      <li class="nav-item headernav dropdown">
          <a class="nav-link dropdown-toggle header-tab2" href="/data/Respond" id="navbarDropdown" role="button" style="font-size:16px;font-family:'Lato', sans-serif;color:#013a81;margin-top: -18px;margin-left:50px;">Respond</a>
          <div class="dropdown-menu data-dropdown" aria-labelledby="navbarDropdown" style="margin-left:60px;margin-top:10px;">
            <a class="dropdown-item" href="/data/Respond">County Plan -TBD</a>
           
          </div>
        </li>
        <li class="nav-item headernav dropdown">
          <a class="nav-link dropdown-toggle header-tab2" href="/data/Monitor" id="nvbarDropdown" role="button" style="font-size:16px;font-family:'Lato', sans-serif;color:#013a81;margin-top: -18px;margin-left:50px;">Monitor</a>
          <div class="dropdown-menu data-dropdown" aria-labelledby="navbarDropdown" style="margin-left:60px;margin-top:10px;">
            <a class="dropdown-item" href="/data/Incidence">Incidence</a>
            <a class="dropdown-item" href="/data/Prevalence">Prevalence</a>
          </div>
        </li>
        <li class="nav-item headernav">
          <a class="nav-link header-tab2" href="/data/Definitions" style="font-size:16px;font-family:'Lato', sans-serif;color:#013a81;margin-top: -18px;margin-left:50px;">Definitions</a>
        </li>
        <li class="nav-item headernav">
          <a class="nav-link header-tab2" href="/data/DataUpdates" style="font-size:16px;font-family:'Lato', sans-serif;color:#013a81;margin-top: -18px;margin-left:50px;">Data Updates</a>
        </li>
    </ul>
  </div>
</nav>
<div class="comp-l322d8y8" style="border-top: 4px solid #5aa3d2;"></div>
</div>
</div>
    <!-- Side Navigation box
    <div style="width: 200px;
    position: absolute;
    height: auto;
    margin:20px 0px 0px 20px;
    border:5px solid rgb(1,58,129);">
        <ul class="nav flex-column">
            <li class="nav-item">
                <p style="text-align:center; text-decoration: underline;margin-top:3px;font-size: 14px;">Explore our data</p>
              </li>
            <li class="nav-item">
              <a class="nav-link active" href="#"><p style="text-align:center;margin-bottom: -0.5em;font-size: 14px;">Diagnoses</p></a>
            </li>
            <li class="nav-item">
              <p style="text-align:center;margin-bottom: 0.2em;font-size: 10px;">HIV Testing</p>
            </li>
            <li class="nav-item">
              <p style="text-align:center;margin-bottom: 0.2em;font-size: 10px;">Time from Infection to Diagnosis</p>
            </li>
            <li class="nav-item">
              <p style="text-align:center;margin-bottom: 0.2em;font-size: 10px;">Knowledge of status</p>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="#"><p style="text-align:center;margin-bottom: -0.5em;font-size: 14px;">Treat</p></a>
              </li>
              <li class="nav-item">
                <p style="text-align:center;margin-bottom: 0.2em;font-size: 1px;">Viral Supression</p>
              </li>
              <li class="nav-item">
                <p style="text-align:center;margin-bottom: 0.2em;font-size: 10px;">Person lost from care</p>
              </li>
              <li class="nav-item">
                <p style="text-align:center;margin-bottom: 0.2em;font-size: 10px;">Time linkage to care</p>
              </li>
              <li class="nav-item">
                <p style="text-align:center;margin-bottom: 0.2em;font-size: 10px;">Percent of PLWH in care</p>
              </li>
              
              <li class="nav-item">
                <a class="nav-link active" href="#"><p style="text-align:center;margin-bottom: -0.5em;font-size: 14px;">Prevent</p></a>
              </li>
              <li class="nav-item">
                <p style="text-align:center;margin-bottom: 0.2em;font-size: 10px;">Pre-exposure Prophylaxis(PrEP)</p>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#"><p style="text-align:center;margin-bottom: -0.5em;font-size: 14px;">Respond</p></a>
              </li>
              <li class="nav-item">
                <p style="text-align:center;margin-bottom: 0.2em;font-size: 10px;">County Plan -TBD</p>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#"><p style="text-align:center;margin-bottom: -0.5em;font-size: 14px;">Monitor</p></a>
              </li>
              <li class="nav-item">
                <p style="text-align:center;margin-bottom: 0.2em;font-size: 10px;">Incidence</p>
              </li>
              <li class="nav-item">
                <p style="text-align:center;margin-bottom: 0.2em;font-size: 10px;">Prevalence</p>
              </li>
              <li class="nav-item">
                <button style="margin-bottom: 0.2em;font-size: 14px;margin-left: 4em;">Definitions</button>
              </li>
              <li class="nav-item">
                <button style="margin-bottom: 0.2em;font-size: 14px;margin-left: 3em;">Report Updates</button>
              </li>
          </ul>
    </div>-->

    <div style="height:450px;background-color: #ffffff;margin-top:250px;margin-left:430px;">
      <div class="card bg-light mb-3" style="max-width:25rem;background-color: #5aa3d2;border: none;">
              <div class="card-body" style="background-color:#ffffff;width:415px;height:130px;">
                  <div style="width:500px;"><h2 style="color:#013a81;">
                    
    Respond quickly to potential HIV outbreaks to get prevention and treatment services to people who need them.</h2>
                  </div>
                  <div><br></div>
                  <div style="width:500px;"><ul>
                  <li><p>Objective 4.1: Increase MCPH’s capacity to identify and investigate active HIV transmission clusters and respond to HIV outbreaks.</p></li>
                  <li><p>Objective 4.2: Develop a fully functioning HIV Rapid Response Surveillance System and Dashboard.</p></li>
                 </ul>
                  </div>
              </div>
              </div>
              <div style="margin-left:650px;margin-top:-130px;border-left: 4px solid #013a81;height: 350px;"> </div>
              <div style="margin-left:800px;margin-top:-250px">
                  <div><h2 style="color:#013a81;">Respond Data</h2></div>
                  <div><br></div>
                  <div><div><img src="../images/respond.png" alt="Diagnose_Syringe_Illustration.png" style="width: 95px; height: 95px; object-fit: cover; object-position: 50% 50%;"></div></div>
              </div>
      </div>



<!-- Learn More section-->
<div style="position:relative;margin-left:600px;margin-top:100px;"data-testid="richTextElement"> 
  <h1><span style="color: #013a81;margin-left:50px;">Learn more about our community data:</span></h1>
  <div><br></div>
  <a class="learn-more btn btn-primary"  href="./data/Diagnosis" role="button"><span class="learn-more-span">Diagnose</span></a>
  <a class="learn-more btn btn-primary"  href="./data/Treat" role="button"><span class="learn-more-span">Treat</span></a>
  <a class="btn btn-primary learn-more" href="./data/Prevent" role="button"><span class="learn-more-span">Prevent</span></a>
  <a class="btn btn-primary learn-more"  href="./data/Respond" role="button"><span class="learn-more-span">Respond</span></a>
  <a class="btn btn-primary learn-more" href="./data/Monitor" role="button"><span class="learn-more-span">Monitor</span></a>
</div>

<div style="margin-left:1600px;margin-top:200px;position: relative;">
  <div id="feedback-div">
    <div><strong><p>Was this page helpful?</p></strong></div>
    <div style="margin-left:-35px;">
      <ul>
    <li style="list-style: none;"> <input type="radio" value="Y" name ="feedbackButton" onclick="showTextArea('Y');" id="feedback"><label><span style="font-family:'Lato',sans-serif">&nbsp;&nbsp;Yes</span></label></li>
    <li  style="list-style: none;"> <input type="radio" value="N" name ="feedbackButton" id="feedback" onclick="showTextArea('N');"><label><span style="font-family:'Lato',sans-serif">&nbsp;&nbsp;No</span></label></li>
    </ul></div></div>
    <div><input style="font-family:'Lato', sans-serif;margin-top:5px;" type="button" value="Submit" onclick="Submitted();">
    <textarea style="display: none;font-family:'Lato', sans-serif" id="feedbackarea"></textarea></div></div>
    <br>
    <!-- contact us popup -->
<div id="contact_form">
  <div id="popupContact">
    <form action="#" id="contactForm" method="post" name="form">
    <img id="close" src="images/closeImage.PNG" onclick ="div_hide()" style="width:37px;height:30px;margin-top:15.5px;margin-right:16px;">
    <h2>Contact Us</h2>
    <hr>
    <input id="name" name="name" placeholder="Name" type="text">
    <input id="email" name="email" placeholder="Email" type="text">
    <textarea id="msg" name="message" placeholder="Message"></textarea>
    <a href="javascript:%20check_empty()" onlick="messageSent()" id="sendButton">Send</a>
    <div><br></div>
    <p>Disclaimer: Thank you for contacting Mecklenburg County Public Health. We make every effort to respond to questions within 2 business days, except weekends or holidays.  We do not provide medical advice.<br>
      For medical questions Call: Your primary care provider; insurance provider or the nurse line on the back of your insurance card; or 911 for all medical emergencies.
      <br>
      Go to an urgent care facility or an emergency room (for medical emergencies). Please note that you will be responsible for any bill that results from your visit to one of these facilities.
      </p> </form>
  </div>
</div>

    <!--Now we need footer section (Simple footer)-->
    <footer>
      <div class="text-white"  style="background-color:#c1962e;height:60px;position:relative;margin-top:50px;">
            
           <nav aria-label="breadcrumb">
            <ol class="breadcrumb"  style="background-color:#c1962e;height:60px;margin-left: 350px;">
              <li class="breadcrumb-item"><span style="color:#013a81;font-size: 16px;" >©  <script>document.write(new Date().getFullYear())</script>  Academy for Population Health Innovation</span></li>
              <li class="breadcrumb-item" style="margin-left:500px;"><a href="https://www.mecknc.gov/admin/Pages/PrivacyNotice.aspx"><span style="color:#013a81;font-size: 16px;text-decoration: underline;">Privacy</span></a></li>
              <li class="breadcrumb-item"><a href="https://www.mecknc.gov/admin/Pages/LegalInfo.aspx"><span style="color:#013a81;font-size: 16px;text-decoration: underline;">Legal Information</span></a></li>
              <li class="breadcrumb-item"><a href="https://www.mecknc.gov/Pages/EmployeeAccess.aspx"><span style="color:#013a81;font-size: 16px;text-decoration: underline;">Placeholder</span></a></li>
            
            </ol>
          </nav>
          </div>
      </div>
  </footer>
    <!--Optional JavaScript -->
    
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" 
integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" 
integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>-->
<script language="JavaScript" type="text/javascript" src="../JS/main.js"></script>
<script language="JavaScript" type="text/javascript" src="../JS/bootstrap.js"></script>

</body>
</html>