			<div id="whatIsCHAMPS" class="centerContents">
				<h1 class="knockoutHeader goldText">What is CHAMPS?</h1>
				
				<div id="whatIsCHAMPSContent" class="fourthsLt">
				
					<div id="whatIsCHAMPSColOne">
				
						<p>CHAMPS is the Mecklenburg County <strong>C</strong>ommunity <strong>H</strong>IV/<strong>A</strong>IDS <strong>M</strong>onitoring and <strong>P</strong>revention <strong>S</strong>ystem dashboard. Its purpose is to make data accessible and to monitor progress toward the four goals in the Getting to Zero EHE Plan to diagnose, treat, prevent, and respond to HIV locally. In addition, the CHAMPS dashboard monitors trends in new HIV diagnoses and the number of people living with HIV in our community.</p>
						
						<p>&nbsp;</p>
				
					</div>
				
					<div id="whatIsCHAMPSColTwo">
					
						<h3><a href="#" class="readMore" id="whatIsReadMore">READ MORE</a></h3>
					
					</div>
				
				</div>
				
			</div>		
		
			<div id="footer" class="fourthsRt">
		
				<div id="footerMenu" class="centerContents">
			
					<ul>
						<li><a href="/">HOME</a></li>
						<li><a href="/aboutus">ABOUT US</a></li>
						<li><a href="/data/Monitor">DATA</a></li>
						<li><a href="/newsevents">PHOTOS</a></li>
						<li><a href="/resource">RESOURCES</a></li>
						<li><a href="/EHE">EHE STRATEGIC PLAN</a></li>
						<li><a href="/ContactUs">CONTACT US</a></li>
					</ul>
			
				</div>
			
				<div id="footerPartners">
				
					<a href="https://health.mecknc.gov/"><img id="MeckSealFooter" src="../images/MecklenburgCoSeal_sm.png" alt="Mecklenburg County Seal" /></a>
				
					<a href="https://www.aphinnovation.org/"><img id="APHILogo" src="../images/APHI_logo.png" alt="Academy for Population Health Innovation Logo" /></a>
				
					<a href="https://www.charlotte.edu/"><img id="UNCCLogo" src="../images/UNCCharlotte_logo.png" alt="The University of North Carolina at Charlotte Logo" /></a>
				
				</div>
			
				<div><p>&nbsp;</p></div>
			
				<div>
			
					<p>&nbsp;</p>
			
					<p class="whiteText">© <script>document.write(new Date().getFullYear())</script> Academy for Population Health Innovation • <a href="https://www.mecknc.gov/admin/Pages/PrivacyNotice.aspx">Privacy</span></a> • <a href="https://www.mecknc.gov/admin/Pages/LegalInfo.aspx">Legal Information</a></p>
			
				</div>
			
			</div>