			<div id="headerContainer">

				<div id="header">
				
					<div id="headerLogos">
				
						<div id="seal" class="centerContents">
				
							<a href="https://health.mecknc.gov/services/hiv-sti/ending-hiv-epidemic"><img id="MeckSeal" src="../images/MecklenburgCoSeal_sm.jpg" alt="Mecklenburg County Seal" /></a>
				
						</div>
						
						<div id="CHAMPSLogoBox">
				
							<a href="index.html"><img id="CHAMPSLogo" src="../images/CHAMPS_logo.png" alt="This is the CHAMPS Logo" /></a>
						
							<h3 id="CHAMPSTag">Community HIV/AIDS <span id="CHAMPSTagSmaller">Monitoring & Prevention Systems</span></h3>
					
						</div>
						
					</div>
			
					<div id="menu" class="centerContents">
				
						<div id="menuButtons">
					
							<ul>
								<li><a href="/">HOME</a></li>
								<li class="here"><a href="/aboutus">ABOUT US</a></li>
								<li><a href="/data/Monitor">DATA</a></li>
								<li><a href="/newsevents">PHOTOS</a></li>
								<li><a href="/resource">RESOURCES</a></li>
								<li><a href="/EHE">EHE STRATEGIC PLAN</a></li>
								<li><a href="/ContactUs">CONTACT US</a></li>
							</ul>
				
						</div>
				
					</div>
				
				</div>
			
			</div>