<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
	
	<title>APHI CHAMPS Dashboard</title>

	<link rel="stylesheet" media="screen" href="css/styles.css">
	
	<link href="https://fonts.googleapis.com/css2?family=Gelasio:ital,wght@0,400;0,700;1,400;1,700&family=Rubik:wght@400;600&display=swap" rel="stylesheet">
	
</head>

<body>

	<div id="wrapper">

		<div id="pageContent">
		
			<%- include('./partials/header.ejs')%>
	
			<!-- *&*&*&*&*&*&*&*&*&*&
			
			The DIV below spaces the content 
			down to accomodate the fixed menu 
			
			*&*&*&*&*&*&*&*&*&*&*&*& -->
	
			<div id="fixedMenuFixRegular"></div>

		
			<div id="interiorPage" class="centerContents">
			
				<div class="textContent">
				
					<h1>The Getting to Zero EHE Plan</h1>  
									
					<p>The purpose of the Mecklenburg County Community HIV/AIDS Monitoring and Prevention System (CHAMPS) dashboard is to make data accessible and to monitor progress toward the four goals in the <a href="https://www.mecknc.gov/HealthDepartment/GettingToZero/Documents/Mecklenburg%20County%27s%20Ending%20the%20HIV%20Epidemic%20Plan.pdf" target="_blank" rel="noreferrer noopener">Getting to Zero EHE Plan (PDF link)</a> to diagnose, treat, prevent, and respond to HIV locally.</p>

					<div id="pillarsIconsContainer">
					
						<div id="monitorPillars">
						
							<div class="pillarsIcons centerContents" id="pillarsMonitor">
								<img src="images/pillarsIconMonitor.png" />
								<h2 id="monitorLabel">MONITOR</h2>
							</div>
						
						</div>
						
						<div id="fourPillars">
			
							<div class="pillarsIcons centerContents" id="pillarsDiagnose">
								<img src="images/pillarsIconDiagnose.png" />
								<h2>DIAGNOSE</h2>
							</div>
				
							<div class="pillarsIcons centerContents" id="pillarsTreat">
								<img src="images/pillarsIconTreat.png" />
								<h2>TREAT</h2>
							</div>
				
							<div class="pillarsIcons centerContents" id="pillarsPrevent">
								<img src="images/pillarsIconPrevent.png" />
								<h2>PREVENT</h2>
							</div>
				
							<div class="pillarsIcons centerContents" id="pillarsRespond">
								<img src="images/pillarsIconRespond.png" />
								<h2>RESPOND</h2>
							</div>
						
						</div>
						
						<div></div>
						
						<div class="centerContents">
							<h2 class="goldText">The Four EHE Plan Pillars</h2>
						</div>
				
					</div>

					<p>&nbsp;</p>

					<div class="twoCol fourthsLt">
					
						<div>

							<h2>Goal 1: Diagnose all People Living with HIV (PLWH) as early as possible</h2>

							<p>Objective 1.1: 20% increase in HIV screening of Mecklenburg County residents</p>

							<p>Objective 1.2: Testing demographics are reflective of the demographics of PLWH in Mecklenburg County</p>
					
						</div>
					
						<div class="centerContents">
					
							<img src="./images/EHE_NicoleWorking.jpg" alt="This is a photo of Nicole working on an EHE Plan project" />
					
						</div>
						
						<p>&nbsp;</p>
					
					</div>
					
					<div class="twoCol fourthsRt">
					
						<div class="centerContents">
					
							<img src="./images/EHE_MCPHemployees.jpg" alt="This is a photo of Mecklenburg County Public Health Employees" />
					
						</div>
					
						<div>
					
							<h2>Goal 2: Treat PLWH rapidly and effectively to reach sustained viral suppression</h2>
					
							<p>Objective 2.1: Link 90% of newly diagnosed clients to care within 7 days of diagnosis</p>
					
							<p>Objective 2.2: 90% of PLWH and who are in care are virally suppressed</p>
					
							<p>Objective 2.3: Reduce percentage of persons who have fallen out of care by 17%</p>
					
						</div>
						
						<p>&nbsp;</p>
					
					</div>
					
					<div class="centerContents">
						<iframe id="endEpidemicYTVideo" src="https://www.youtube.com/embed/cOwSqprEJEg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
						<p>&nbsp;</p>
					</div>
					
					<div class="twoCol fourthsLt">
					
						<div>
					
							<h2>Goal 3: Prevent new HIV transmissions by using proven interventions</h2>
					
							<p>Objective 3.1: Reach 300,000 Mecklenburg County residents/visitors with evidence-informed HIV prevention messaging</p>
					
							<p>Objective 3.2: At least 34% of persons with PrEP indications are on PrEP</p>
					
							<p>Objective 3.3: 90% of persons referred to PrEP are linked to PrEP services within 10 days of referral</p>
					
							<p>Objective 3.4: Efforts are made to re-engage 90% of PrEP clients who have discontinued PrEP medication for reasons other than insurance ineligibility or potential side effects, and who are still at high risk for acquiring HIV</p>
					
						</div>
					
						<div class="centerContents">
					
							<img src="./images/EHE_RibbonCutting.jpg" alt="This is a photo of a ribbon cutting ceremony" />
					
						</div>
						
						<p>&nbsp;</p>
					
					</div>
					
					<div class="twoCol fourthsRt">
					
						<div class="centerContents">
					
							<img src="./images/EHE_Val_Hamdi.jpg" alt="This is a photo of Val Hamdi">
					
						</div>
					
						<div>
					
							<h2>Goal 4: Respond quickly to potential HIV outbreaks to get prevention and treatment services to people who need them.</h2>
					
							<p>Objective 4.1: Increase MCPH’s capacity to identify and investigate active HIV transmission clusters and respond to HIV outbreaks</p>
					
							<p>Objective 4.2: Develop a fully functioning HIV Rapid Response Surveillance System and Dashboard</p>
						
						</div>
						
						<p>&nbsp;</p>
					
					</div>
									
				</div>
			
			</div>
		
			<%- include('./partials/footer.ejs')%>
		
		</div>

	</div>

</body>

</html>