<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
	
	<title>APHI CHAMPS Dashboard</title>

	<link rel="stylesheet" media="screen" href="css/styles.css">
	
	<link href="https://fonts.googleapis.com/css2?family=Gelasio:ital,wght@0,400;0,700;1,400;1,700&family=Rubik:wght@400;600&display=swap" rel="stylesheet">
	
</head>

<body>

	<div id="wrapper">

		<div id="pageContent">
		
			<%- include('./partials/header.ejs')%>
		
			<div id="heroImage">
				<img id="hero" src="images/heroImage.jpg" />
			</div>
		
			<div id="firstData" class="centerContents">
				<h1>How many people know their HIV status? ...are linked to care? ...have started medication? ...have undetectable viral loads?</h1>
			
				
				<div class="dataChart">
					<img src="images/dataContinuumOfCare.jpg" />
				</div>
				
			</div>
		
			<div class="centerContents"><h1>The CHAMPS Mission</h1></div>
		
			<div id="mission">
			
				<div id="missionColOne">
			
					<p><strong>We have the tools to end the HIV epidemic in the United States and in Mecklenburg County, North Carolina.</strong></p>
			
					<p>These tools come from many recent advancements in medicine and technology. They have the power to improve HIV prevention and testing. They can positively affect treatment outcomes and improve communication to reduce HIV.</p>
					
					<p>Although significant progress has been made, Mecklenburg County has the highest rate of new HIV diagnoses in the state.</p>
					
					<p>The tools we have are not effectively reaching the people who may most benefit from them. Disparities in key populations and geographic areas persist.</p>
				
				</div>
				
				<div id="missionColTwo">
				
					<p><strong>The Mecklenburg County Community HIV/AIDS Monitoring and Prevention System (CHAMPS) dashboard can help.</strong></p>
					
					<p>Our overall goal is to empower our entire community and to advance health equity for everyone. With up-to-date data, we can address ongoing barriers to medical care. We can identify gaps in care and policy. We can enhance local efforts and programs to effectively reduce HIV in our community.</p>
				
					<p>Specifically, there are two main purposes for the CHAMPS dashboard. First is to make data accessible to the public. Second is to monitor progress toward the four goals in the Getting to Zero Ending the Epidemic Plan. The goals are to diagnose, treat, prevent, and respond to HIV.</p>
				
				</div>
				
				<div id="missionColThree">
					<h3><a href="#" id="missionReadMore" class="readMore">READ MORE</a></h3>
				</div>
				
			</div>		
		
			<div id="whatIsGTwoZ">
		
				<div id="whatIsGTwoZColOnePic">
					<p>&nbsp;</p>
				</div>
		
				<div id="whatIsGTwoZColTwo">
		
					<h1 class="darkBlueText">What is G2Z Mecklenburg?</h1>
		
					<p>The Getting to Zero Plan, updated in 2022, includes four strategies to diagnose, treat, prevent, and respond to HIV, which mirror (or correspond or follow) the national Ending the Epidemic (EHE) methods for data gathering. In addition, the CHAMPS Dashboard monitors trends in new diagnoses and the total number of people living with HIV in our community.</p>
				
					<p>&nbsp;</p>
			
				</div>
		
			</div>
		
			<div id="gettingToZeroTagline" class="fourthsLt">
				
				<div>
					<img id="gTwoZDoingYourPart" src="images/gettingToZero_doingYourPart.png" alt="This is a picture that reads: Are you doing your part to get to zero?" />
				</div>
				
				<div>
					<a href="EHE_strategic_plan.html"><img id="gTwoZLogo" src="images/gettingToZero_newLogo.png" alt="This is a picture of the logo for the Getting to Zero project" /></a>
				</div>
			
			</div>		
		
			<div id="pillarsAndMission">
			
				<p>&nbsp;</p>
			
				<div id="pillarsIconsContainer">
					
					<div id="monitorPillars">
					
						<div class="pillarsIcons centerContents" id="pillarsMonitor">
							<img src="images/pillarsIconMonitor.png" />
							<h2 id="monitorLabel">MONITOR</h2>
						</div>
					
					</div>
					
					<div id="fourPillars">
		
						<div class="pillarsIcons centerContents" id="pillarsDiagnose">
							<img src="images/pillarsIconDiagnose.png" />
							<h2>DIAGNOSE</h2>
						</div>
			
						<div class="pillarsIcons centerContents" id="pillarsTreat">
							<img src="images/pillarsIconTreat.png" />
							<h2>TREAT</h2>
						</div>
			
						<div class="pillarsIcons centerContents" id="pillarsPrevent">
							<img src="images/pillarsIconPrevent.png" />
							<h2>PREVENT</h2>
						</div>
			
						<div class="pillarsIcons centerContents" id="pillarsRespond">
							<img src="images/pillarsIconRespond.png" />
							<h2>RESPOND</h2>
						</div>
					
					</div>
					
					<div></div>
					
					<div class="centerContents">
						<h2 class="goldText">The Four EHE Plan Pillars</h2>
					</div>
			
				</div>
			
			</div>		
		
			<div id="secondDataChart" class="centerContents">
				<h1>Who is being diagnosed in Mecklenburg County?</h1>
			
				<div class="dataChart">
					
					<img src="images/dataNewDiagnose.png" />
					
				</div>
				
			</div>
		
			<div id="endEpidemic" class="centerContents">
				
				
				
				<div id="endEpidemicYT" class="halves">
				
					<div id="endEpidemicYTColOne">
					
						<h1><span class="whiteText">How Will We End the Epidemic?</span></h1>
					
						<p class="whiteText">Watch this short video, or read more about the <a href="https://www.mecknc.gov/HealthDepartment/GettingToZero/Documents/Mecklenburg%20County%27s%20Ending%20the%20HIV%20Epidemic%20Plan.pdf" target="_blank" rel="noreferrer noopener"><span class="whiteText">Mecklenburg County Getting to Zero Ending the HIV Epidemic Plan (PDF link).</span></a></p>
						
					</div>
					
					<div id="endEpidemicYTColTwo">
					
						 <iframe id="endEpidemicYTVideo" src="https://www.youtube.com/embed/cOwSqprEJEg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
				
					</div>
					
				</div>
		
			</div>

			<a id="dataLink"></a>

			<div id="thirdDataChart" class="centerContents">
				<h1>Is PrEP being used in Mecklenburg County?</h1>
				
				<div class="dataChart">
					
					<img src="images/dataPrep.png" />
					
				</div>
				
			</div>
		
			<div id="dataOverview" class="centerContents">
				
				<h1 class="knockoutHeader">What does the data show?</h1>
				
				<div id="dataMenu">
				
					<ul>
						<li id="monitorButton">MONITOR: </li>
						<li><a href="data.html#incidenceChart">INCIDENCE</a></li>
						<li><a href="data.html#prevalenceChart">PREVALENCE</a></li>
					</ul>
				
					<ul>
						<li id="diagnoseButton">DIAGNOSE: </li>
						<li><a href="data.html#statusChart">HIV TESTING</a></li>
						<li><a href="data.html#infectionToDiagnosisChart">TIME from INFECTION to DIAGNOSIS</a></li>
						<li><a href="data.html#knowTheirStatusChart">KNOWLEDGE of HIV STATUS</a></li>
					</ul>
					
					<ul>
						<li id="treatButton">TREAT: </li>
						<li><a href="data.html#linkedToCareChart">TIME LINKAGE to CARE</a></li>
						<li><a href="data.html#viralSuppressionChart">VIRAL SUPPRESSION</a></li>
						<li><a href="data.html#personsLostToCareChart">PERSONS LOST from CARE</a></li>
						<li><a href="data.html#percentPLWHChart">PERCENT of PERSONS LIVING with HIV in CARE</a></li>
					</ul>
					
					<ul>
						<li id="preventButton">PREVENT: </li>
						<li><a href="data.html#prepChart">Pre-EXPOSURE PROPHYLAXIS (PrEP)</a></li>
					</ul>
					
					<ul>
						<li id="respondButton">RESPOND: </li>
						<li><a href="EHE_strategic_plan.html">MECKLENBURG COUNTY PLAN</a></li>
					</ul>
					
				</div>
			</div>
		
			<div id="getInvolved">
			
				<h1>Get Involved</h1>
			
				<div class="halves">
				
					<div>
			
						<p>Learn more about HIV/STD Testing <a href="https://www.mecknc.gov/HealthDepartment/CDControl/HIVSTDSurveillance/Pages/STD-Testing-Sites.aspx" target="_blank" rel="noreferrer noopener">Options</a>; or call 704-432-8378.</p>

						<p>Free HIV/STD Testing <a href="https://www.mecknc.gov/HealthDepartment/CDControl/HIVSTDSurveillance/Pages/Community-Testing-Sites.aspx" target="_blank" rel="noreferrer noopener">Locations</a> in Mecklenburg County.</p>

						<p>Request <a href="https://forms.office.com/pages/responsepage.aspx?id=onDYAmvXWEix28CmftVFyBeP1BxOt8FOulHx_h9pOFxUQ0VDVEc1TTRMTEUzWUIxQ1lVQTRBVlVHVCQlQCN0PWcu" target="_blank" rel="noreferrer noopener">HIV testing for an event</a>.</p>
					
						<p>Health Statistic <a href="https://www.mecknc.gov/HealthDepartment/HealthStatistics/Pages/DataRequest.aspx" target="_blank" rel="noreferrer noopener">Data Request </a>Form.</p>
				
					</div>
				
					<div>

						<p>Learn more about the <a href="https://www.mecknc.gov/HealthDepartment/GettingToZero/Pages/Home.aspx" target="_blank" rel="noreferrer noopener">Getting to Zero community group</a>.</p>

						<p>Find a <a href="https://www.mecknc.gov/HealthDepartment/RyanWhite/providers/Pages/default.aspx" target="_blank" rel="noreferrer noopener">Ryan White Provider</a>.</p>

						<p>Learn more about <a href="https://www.mecknc.gov/HealthDepartment/CDControl/HIVSTDSurveillance/Pages/PrEP.aspx" target="_blank" rel="noreferrer noopener">PrEP in Mecklenburg County</a>. Find a <a href="https://pleaseprepme.org/" target="_blank" rel="noreferrer noopener" style="color:#013a81;text-decoration:underline;">PrEP Provider</a>.</p>

						<p>Looking for another resource? Click <a href="https://sschere1.wixsite.com/my-site-1/copy-of-about-us-2" target="_blank" rel="noreferrer noopener">here</a>.</p>
				
					</div>
				
				</div>
					
			</div>
		
			<%- include('./partials/footer.ejs')%>
		
		</div>

	</div>

</body>

</html>