<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
	
	<title>APHI CHAMPS Dashboard</title>

	<link rel="stylesheet" media="screen" href="css/styles.css">
	
	<link href="https://fonts.googleapis.com/css2?family=Gelasio:ital,wght@0,400;0,700;1,400;1,700&family=Rubik:wght@400;600&display=swap" rel="stylesheet">
	
</head>

<body>

	<div id="wrapper">

		<div id="pageContent">
		
			<%- include('./partials/header.ejs')%>
	
			<!-- *&*&*&*&*&*&*&*&*&*&
			
			The DIV below spaces the content 
			down to accomodate the fixed menu 
			
			*&*&*&*&*&*&*&*&*&*&*&*& -->
	
			<div id="fixedMenuFixRegular"></div>

		
			<div id="interiorPage" class="centerContents">
			
				<div class="textContent">
				
					<h1>Community Engagement</h1>
				
					<div class="photosPagePics">
					
						<div class="photosColumn">
				
							<img src="images/photos_AIDSWalk.jpg"  alt="This is a photo of the 2022 AIDS Walk">
							<img src="images/photos_AIDSWalk2022.jpg"  alt="This is a photo of the 2022 AIDS Walk">
							<img src="images/photos_AskMeAboutMPX.jpg"  alt="This is a photo of Meckleburg County Public Health employees and volunteers">
						
						</div>
						
						<div class="photosColumn">
						
							<img src="images/photos_EHE_Black_PopUP_Shop_2.jpg"  alt="This is a photo of a pop-up shop for community health education">
							<img src="images/photos_EHEBlackPopUShop.jpg"  alt="This is a photo of a pop-up shop for community health education">
							<img src="images/photos_EHE_Black_PopUP_Shop_3.jpg"  alt="This is a photo of a pop-up shop for community health education">
						
						</div>
						
					</div>
						
					<h1>Testing Events</h1>
						
					<div class="photosPagePics">
					
						<div class="photosColumn">	
						
							<img src="images/photos_GetTestedAndKnow.jpg"  alt="This is a photo of a county testing event">
							<img src="images/photos_HealthFair.jpg"  alt="This is a photo of a county health fair">
							<!--<img src="images/photos_HealthFair2.jpg" alt="This is a photo of a health fair">-->
							<img src="images/photos_JCSU_HealthFair1.jpg"  alt="This is a photo of the Johnson C Smith University health fair">
						
						</div>
						
						<div class="photosColumn">
						
							<img src="images/photos_JCSU_HealthFair2.jpeg"  alt="This is a photo of the Johnson C Smith University health fair">
							<img src="images/photos_MCPHemployees.jpg"  alt="This is a photo of Mecklenburg County Public Health Employees at a health fair">
							<img src="images/photos_PVPtestevent2.jpg"  alt="This is a photo of a testing event">
						
						</div>
						
					</div>	
						
					<h1>PrEP Clinic Openings</h1>	
						
					<div class="photosPagePics">
					
						<div class="photosColumn">	
						
							<img src="images/photos_Ribbon_Cutting.jpg"  alt="photos_Ribbon_Cutting">
							<img src="images/photos_PrEP_Clinic_speaker.jpg" alt="">
						
						</div>
						
						<div class="photosColumn">
						
							<img src="images/photos_Val_Hamdi.jpg"  alt="photos_Val_Hamdi">
							<img src="images/photos_PrEP_Clinic_speaker_2.jpg" alt="">
							
						</div>
						
					</div>
		
				</div>
			
			</div>
		
			<%- include('./partials/footer.ejs')%>
		
		</div>

	</div>

</body>

</html>