<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
	
	<title>APHI CHAMPS Dashboard</title>
	
	<link rel="stylesheet" type="text/css" href="css/resources_videos.css">

	<link rel="stylesheet" media="screen" href="css/styles.css">
	
	<link href="https://fonts.googleapis.com/css2?family=Gelasio:ital,wght@0,400;0,700;1,400;1,700&family=Rubik:wght@400;600&display=swap" rel="stylesheet">
	
</head>

<body>

	<div id="wrapper">

		<div id="pageContent">
		
			<%- include('./partials/header.ejs')%>
	
			<!-- *&*&*&*&*&*&*&*&*&*&
			
			The DIV below spaces the content 
			down to accomodate the fixed menu 
			
			*&*&*&*&*&*&*&*&*&*&*&*& -->
	
			<div id="fixedMenuFixRegular"></div>

		
			<div id="interiorPage" class="centerContents">
			
				<div class="textContent">
				
					<h1>Search for Services</h1>  
				
					<div class="twoCol thirdsRt">
				
						<div>
				
							<img id="nccare360Pic" src="images/nccare360.png" alt="NCCARE360 website screenshot" />
							
						</div>
						
						<div>

							<p><a href="https://www.nccare360.org" target="_blank" rel="noreferrer noopener">Search NCCARE360</a> to find local services and resources.</p>
					
							<p>The NCCARE360 website and the CHAMPS Dashboard do not provide medical advice. If you think you have an emergency or urgent medical need, please call 911 or your doctor immediately.</p>
						
						</div>
						
					</div>
					
					<p>&nbsp;</p>
						
					<div>
						
						<input class="checkbox frst" type="radio" id="slide-1" name="slider" checked style="display:none;"/>
						<label for="slide-1">HIV Self-Testing</label>
						<input class="checkbox scnd" type="radio" name="slider" id="slider-2" style="display:none;"/>
						<label for="slider-2">PrEP</label>
						<input class="checkbox thrd" type="radio" name="slider" id="slider-3" style="display:none;"/>
						<label for="slider-3">HIV Treatment</label>
						<input class="checkbox foth" type="radio" name="slider" id="slider-4" style="display:none;"/>
						<label for="slider-4">HIV Stigma</label>
						<input class="checkbox fith" type="radio" name="slider" id="slider-5" style="display:none;"/>

						
						<div id="resourcesVideoCarousel">
				
							<div class="resourcesVideo">
								<iframe class="resourcesVideoYT" src="https://www.youtube.com/embed/6B73fe4U-iA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
							</div>
					
							<div class="resourcesVideo">
								<iframe class="resourcesVideoYT" src="https://www.youtube.com/embed/1_eo17YahCo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
							</div>
						
							<div class="resourcesVideo">
								<iframe class="resourcesVideoYT" src="https://www.youtube.com/embed/Yk-bJZeAxWs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
							</div>
						
							<div class="resourcesVideo">
								<iframe class="resourcesVideoYT" src="https://www.youtube.com/embed/G_HMVZpSXIg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
							</div>
						
						</div>
					
					</div>
								
				</div>
			
			</div>
		
			<div id="getInvolved">
			
				<h1>Get Involved</h1>
	
				<div class="halves">
	
					<div>

						<p>Learn more about HIV/STD Testing <a href="https://www.mecknc.gov/HealthDepartment/CDControl/HIVSTDSurveillance/Pages/STD-Testing-Sites.aspx" target="_blank" rel="noreferrer noopener">Options</a>; or call 704-432-8378.</p>

						<p>Free HIV/STD Testing <a href="https://www.mecknc.gov/HealthDepartment/CDControl/HIVSTDSurveillance/Pages/Community-Testing-Sites.aspx" target="_blank" rel="noreferrer noopener">Locations</a> in Mecklenburg County.</p>

						<p>Request <a href="https://forms.office.com/pages/responsepage.aspx?id=onDYAmvXWEix28CmftVFyBeP1BxOt8FOulHx_h9pOFxUQ0VDVEc1TTRMTEUzWUIxQ1lVQTRBVlVHVCQlQCN0PWcu" target="_blank" rel="noreferrer noopener">HIV testing for an event</a>.</p>
		
						<p>Health Statistic <a href="https://www.mecknc.gov/HealthDepartment/HealthStatistics/Pages/DataRequest.aspx" target="_blank" rel="noreferrer noopener">Data Request </a>Form.</p>
	
					</div>
	
					<div>

						<p>Learn more about the <a href="https://www.mecknc.gov/HealthDepartment/GettingToZero/Pages/Home.aspx" target="_blank" rel="noreferrer noopener">Getting to Zero community group</a>.</p>

						<p>Find a <a href="https://www.mecknc.gov/HealthDepartment/RyanWhite/providers/Pages/default.aspx" target="_blank" rel="noreferrer noopener">Ryan White Provider</a>.</p>

						<p>Learn more about <a href="https://www.mecknc.gov/HealthDepartment/CDControl/HIVSTDSurveillance/Pages/PrEP.aspx" target="_blank" rel="noreferrer noopener">PrEP in Mecklenburg County</a>. Find a <a href="https://pleaseprepme.org/" target="_blank" rel="noreferrer noopener" style="color:#013a81;text-decoration:underline;">PrEP Provider</a>.</p>

						<p>Looking for another resource? Click <a href="https://sschere1.wixsite.com/my-site-1/copy-of-about-us-2" target="_blank" rel="noreferrer noopener">here</a>.</p>
	
					</div>
	
				</div>
					
			</div>
			
			<div class="textContent">
			
				<h1>Glossary</h1>
			
				<p><strong>ASO (AIDS Service Organization): </strong>A non-governmental organization that provides services related to the prevention and treatment of HIV</p>
				<p><strong>CARE Act (Ryan White Comprehensive AIDS Resources Emergency Act):</strong> The Federal legislation created to address the health care and service needs of people living with HIV and their families in the United States; enacted in 1990 and reauthorized in 1996 and 2000. In 2006, Congress passed the Ryan White HIV/AIDS Treatment Modernization Act, extending the Ryan White Care Act for an additional three years. In 2009, Congress passed the Ryan White HIV/AIDS Treatment Extension Act, extending the Ryan White Care Act for four more years.</p>

				<p><strong>CBO (Community-based organization): </strong>An organization which provides services to locally defined populations, which may or may not include populations affected by HIV </p>

				<p><strong>CDC (Centers for Disease Control and Prevention): </strong>The Federal agency within the US Department of Health and Human Services that administers HIV prevention programs; responsible for monitoring and reporting of infectious diseases; administers HIV surveillance grants and publishes epidemiological reports such as the HIV/AIDS Surveillance Report</p>

				<p><strong>G2Z:</strong> Getting to Zero Mecklenburg – a community taskforce facilitated by MCPH</p>
				
				<p><strong>HMAP/ADAP:</strong> HIV Medication Assistance Program / AIDS Drug Assistance Program</p>

				<p><strong>HOPWA (Housing Opportunities for PLWH):</strong> A program administered by the US Department of Housing and Urban Development (HUD) which provides funding to support housing for PLWH and their families; Locally, HOPWA funds are administered by Carolinas CARE Partnership in Charlotte, NC.</p>

				<p><strong>HRSA (Health Resources and Services Administration):</strong> The agency of the US Department of Health and Human Services (DHHS) that is responsible for administering the Ryan White Program</p>

				<p><strong>Incidence: </strong>The number of new cases of a disease that occur during a specified time </p>

				<p><strong>Incidence Rate: </strong>The number of cases of a disease per population per specified time often expressed per 100,000 population </p>

				<p><strong>MCPH / MCHD:</strong> Mecklenburg County Public Health / Mecklenburg County Health Department – used interchangeably </p>

				<p><strong>Out of Care:</strong> An individual living with HIV who has not had a CD4 count or viral load test, been prescribed antiretroviral therapy (ART), and have not had a primary care visit in the past 12 months</p>

				<p><strong>PEP:</strong> Post-Exposure Prophylaxis – An emergency medication taken within 72 hours of a potential HIV exposure stop an HIV infection from occurring; typically used after workplace exposures or sexual assault</p>

				<p><strong>PLWH:</strong> Person/People Living with HIV</p>

				<p><strong>PrEP:</strong> Pre-Exposure Prophylaxis – a medication taken daily by an HIV-negative person to prevent HIV</p>

				<p><strong>Prevalence:</strong> The total number of persons living with a specific disease or condition at a given time </p>

				<p><strong>Prevalence Rate:</strong> The proportion of a population living at a given time with a condition or disease</p>

				<p><strong>Priority Population:</strong> A population to be reached through some action or intervention; may refer to groups with specific demographic or geographic characteristics</p>

				<p><strong>Priority Setting:</strong> The process used by a planning group to prioritize service categories, to ensure consistency with locally identified needs, and to address how best to meet each priority</p>

				<p><strong>Resource Allocation: </strong>The legislatively mandated responsibility of planning groups to assign Part A monies or percentages across specific service categories, using key information such as documented need, defined service priorities and other resources as part of the process</p>

				<p><strong>Support Services:</strong> Non-medical services needed to achieve positive health outcomes for PLWH, such as support groups, medical transportation, emergency financial assistance, or housing</p>

				<p><strong>TGA (Transitional Grant Area):</strong> A geographic area that receives Part A funds; TGAs must have reported 1,000 to 1,999 AIDS cases in the most recent five years and have a population of at least 50,000.</p>
			
			</div>
		
			<%- include('./partials/footer.ejs')%>
		
		</div>

	</div>

</body>

</html>